body,
html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}
body {
  background-color: #fff;
}
header {
  width: 100%;
  overflow-x: hidden;
}
header #about {
  width: 100%;
  padding: 25px 5px 162px 0px;
  background-image: url(https://endesign.ru/wp-content/uploads/2020/10/baner-.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
header #about1 {
  width: 100%;
  padding: 15px 0px 15px 0px;
  background-color: #000;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
header #about2 {
  width: 100%;
  padding: 0px 0px 100px 0px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

header #about3 {
  width: 100%;
  padding: 60px 0px 15px 20%;
  height: 129px;
  font-size: 22px;
}

.nav {
  color: #fff;
  margin: 40px 20px;
  padding: 0px 0px 0px 0px;
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 14px;
}

.nav2 {
  color: #fff;
  margin: 40px 20px;
  padding: 0px 0px 0px 0px;
  font-family: "MuseoSansCyrl-300", sans-serif;
  font-size: 22px;
}
.navi {
  color: #fff;
  margin: 50px 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "MuseoSansCyrl-300", sans-serif;
}
.navi hover {
  text-decoration: underline;
}

.nenav {
  color: #000;
  padding: 0px 0px 0px 80px;
  line-height: 25px;
  font-size: 1.2rem;
}
.nenav2 {
  color: #000;
  padding: 0px 80px 10px 0px;
  line-height: 25px;
  font-size: 1rem;
  margin: 5px 0px;
}
.nenav3 {
  margin: 0px 15px;
}

.es {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: #e06618;
  color: #fff;
  padding: 10px 16px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 20px;
}
.es:hover {
  background: #fff;
  color: #e06618;
}
.es2 {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: #e06618;
  color: #fff;
  padding: 10px 16px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 70px;
}
.es3 {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 25px;
  background: #e06618;
  color: #fff;
  padding: 14px 24px;
  font-size: 26px;
  cursor: pointer;
  margin-top: 15px;
}
.ez {
  background-image: url(https://endesign.ru/wp-content/uploads/2020/10/fon.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 0% 2% 0%;
}
.hhh {
  text-align: center;
}
.znachki {
  padding: 50px 0px 50px 0px;
  background-color: #e06618;
  width: 100%;
  display: inline-block;
}
.znachki2 {
  width: 100%;
  /* display: inline-block; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.lin {
  /* margin-left: 300px;
    margin-right: 300px; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* display: inline-flex; */
  padding: 30px 0px;
}

.menu {
  display: flex;
  text-align: left;
  padding: 70px 0px 10px 100px;
}
.phot {
  width: 50%;
}
.phot img {
  width: 90%;
  height: auto;
}
.texx {
  width: 50%;
  margin-right: 5px;
}
.bas {
  background-image: url(https://endesign.ru/wp-content/uploads/2020/10/preimushhestva.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0px;
}
.solid {
  background-color: #e06618;
  margin-right: 150px;
}
.zdes {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 50px;
}
.prim {
  display: flex;
  justify-content: center;
}
img.kart {
  width: 380px;
  height: 220px;
  border: none;
}

.container {
  display: inline-block;
  position: relative;
}
.hh p {
  padding: 80px 0px;
  text-align: center;
}
.hh {
  padding: 0px 0px 0px 0px;
  font-size: 20px;
}
.container div {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 380px;
  height: 230px;
}
.container:hover div {
  display: block;
}
.cia {
  display: flex;
  justify-content: center;
}
.aforma {
  background-image: url(https://endesign.ru/wp-content/uploads/2020/10/group-4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: inline-block;
  display: flex;
  height: 639px;
  margin-top: 50px;
}
.forma {
  width: 50%;
  padding-left: 20px;
}
.slova {
  height: 639px;
  width: 50%;
  text-align: center;
}

.name {
  height: 23px;
  width: 254px;
  padding: 8px 15px 8px 15px;
  border: 0.5px solid #dfdfdf;
}
.sle {
  width: 100%;
  display: inline-block;
  display: flex;
}
.em {
  padding: 0px 20px;
}
.tele {
  margin: 15px 0px 4px 0px;
  color: #878280;
  font-size: 16px;
  font-family: "MuseoSansCyrl-100", Sans-serif;
}
.tele2 {
  margin: 15px 0px 4px 0px;
  color: #878280;
  font-size: 16px;
  font-family: "MuseoSansCyrl-100", Sans-serif;
}
.kom {
  height: 120px;
  width: 628px;
  border: 0.5px solid #dfdfdf;
}
.mf {
  padding: 10px 0px 10px 0px;
}
.vop {
  font-family: "MuseoSansCyrl-500", Sans-serif;
  font-size: 42px;
}

.vop2 {
  font-family: "MuseoSansCyrl-300", Sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
.vibor {
  height: 45px;
  width: 628px;
  border: 0.5px solid #dfdfdf;
}
.foot {
  background-color: #252525;
  background-image: url(https://endesign.ru/wp-content/uploads/2020/10/back-footer.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  display: flex;
}
.fots {
  color: #dcd9dc;
}
.fots2 {
  color: #dcd9dc;
}
.lev {
  width: 35%;
  text-align: right;
  margin-right: 80px;
}
.prav {
  width: 65%;
}

.ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  color: #dcd9dc;
}

.li {
  padding: 0 20px;
  padding-right: 100px;
  font-family: "MuseoSansCyrl-100", Sans-serif;
}

.inner_li {
  list-style-type: none;
  padding: 10px 0;
  margin-left: -40px;
}

.h3 {
  padding: 0;
  margin: 0;
  font-family: "MuseoSansCyrl-300", Sans-serif;
}
.place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76%;
  align-items: center;
}
.msg{
  border: 1px solid #e02518;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1960px) {
}

@media screen and (max-width: 960px) {
  .phot img {
    width: 90%;
    height: auto;
  }
  .lin {
    /* margin-left: 300px;
     margin-right: 300px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* display: inline-flex; */
    padding: 30px 0px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .nenav {
    padding: 0;
  }
  .aforma {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .slova {
    width: auto;
  }
  .forma {
    width: auto;
  }
  .es3 {
    margin-bottom: 20px;
  }
  .ul {
    flex-direction: column;
  }
  .cia {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  @media screen and (max-width: 767px) {
    header #about {
      padding: 10px;
    }
    header #about1 {
      display: none;
    }
    header #about2 {
      justify-content: space-between;
      padding: 0;
    }
    header #about3 {
      padding: 0px;
      text-align: center;
      font-size: 8px;
    }

    .navi {
      display: none;
    }
    .znachki {
      padding: 10px;
    }
    .znachki2 {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
    .nav {
      margin: 5px;
    }
    .menu {
      padding: 0;
      text-align: center;
    }
    .es2 {
      margin: 0;
    }
    .lin {
      align-items: center;
    }
    .forma {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .sle {
      flex-direction: column;
    }
    .vibor {
      width: auto;
    }
    .kom {
      width: 300px;
    }
    .aforma {
      height: auto;
    }
    .slova {
      height: auto;
    }
    .ul {
      display: none;
    }
    .lev {
      width: auto;
    }
  }

  @media screen and (max-width: 420px) {
  }
}
